<div id="wgd-presentation">
    <div class="editor" ng-if="$ctrl.editorMode">
        <button type="button" name="next" ng-click="$ctrl.addNext()">Add next</button>
        <button type="button" name="pause" ng-click="$ctrl.addPause()">Add pause</button>
        <button type="button" name="twoPauses" ng-click="$ctrl.addPause(true)">Pause the audio and add a pause</button>
    </div>
    <div class="pres-controls">
        <span class="glyphicon glyphicon-backward" aria-hidden="true" ng-click="$ctrl.back()"></span>
        <span class="glyphicon glyphicon-forward" aria-hidden="true" ng-click="$ctrl.forward()"></span>
    </div>
    <div class="pres-container" nng-show="$ctrl.ready">
        <div class="reveal">
            <div class="slides">
                <section ng-repeat="section in $ctrl.sectionsHtml" ng-bind-html="section">

                </section>
            </div>
        </div>

    </div>
<pre class="debug">
{{ $ctrl.presTimes }}
</pre>

<script type="text/javascript-lazy" src="/vendor/reveal/js/reveal.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        "HTML-CSS": {
            preferredFont: "TeX",
            availableFonts: ["STIX","TeX"],
            linebreaks: { automatic:true },
            EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
            tex2jax: {
                inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ],
                displayMath: [ ["$$","$$"], ["\\[", "\\]"] ],
                processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
                TeX: {
                    noUndefined: {
                        attributes: {
                            mathcolor: "red",
                            mathbackground: "#FFEEEE",
                            mathsize: "90%" }
                        }, Macros: {
                            href: "{}"
                        }
                    },
                    messageStyle: "none"
                }
            );
        </script>
        <!-- <script src="mathjax/MathJax.js?config=TeX-AMS_HTML-full"></script> -->

<script type="text/javascript-lazy" src="/vendor/MathJax/MathJax.js?config=TeX-AMS_HTML-full"></script>


<script type="text/ng-template" id="section1">
        <h3>Factorisation</h3>
        <section>
            <p class="fragment" data-fragment-index=1>Factoriser c&#39;est transformer une somme en un produit.</p>
            <p class="fragment"><img src="images/facteur.jpg" alt="" /></p>
        </section>
</script>

<script type="text/ng-template" id="section2">
        <div class="section-title">Développer et Réduire</div>
        <section>
            $$
            \begin{align}
            \sum_{i=0}^n i^2
             &\class{fragment}{=\frac{(n^2+n)(2n+1)}{6}} \\
             &\class{fragment}{=\frac{(n^2+n)(2n+1)}{6}} \\
             &\class{fragment}{=\frac{(n^2+n)(2n+1)}{6}}
            \end{align}
             $$
        </section>
</script>

</div>
