<textarea ng-model="tuto.config">
</textarea>
<button class="btn btn-default" ng-click="tuto.updatePres()">Update</button>


<h2>Presentation</h2>
<span class="goesHere">
</span>
<ppresentation config="tuto.presentation.config" on-play="" on-pause=""></presentation>

<hr />
